<h3>Employee-details</h3>
<div>
    <div>
        <label> <b> EmpId </b></label> {{employee.empId}}
    </div>
    <div>
        <label> <b>  Name </b></label> {{employee.name}}
    </div>
    <div>
        <label> <b> Age </b></label> {{employee.age}}
    </div>
    <div>
        <label> <b> Native </b></label> {{employee.enative}}
    </div>
    <div>
        <label> <b> Experience </b></label> {{employee.experience}}
    </div>
    <div>
        <label> <b> Role </b></label> {{employee.role}}
    </div>
    <div>
        <label><b>Active</b></label>{{employee.active}}
    </div>
    </div>