<h2>login works!</h2>


<form>
   
    <label for="fname">First name :</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="pass">Password :</label>
    <input type="text" id="pass" name="password"><br><br>
    
    <label for="cars">Choose your car:</label>
    <select name="cars" id="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select><br><br>

    <input type="checkbox" id="robot">
    <label for="robot">I am not a robot</label><br><br>

    <button type="submit">submit</button>
  </form>
